.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(50deg, #f3c680, hsla(179, 54%, 76%, 1));
    height: 100vh;
}

h1 {
    text-align: center;
}

.form-register {
    background-color: white;
    padding: 25px;
    border: 2px solid black;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    width: 40%;
    border-radius: 5px;
}

.container-input {
    margin-bottom: 10px;
    padding: 7px;
}

.container-input input {
    border: none;
    border-bottom: 2px solid rgb(0, 248, 128, 0.6);
    width: 100%;
    padding: 10px;
    transition: all 0.3s ease;
}

.container-input input:hover,
.container-input input:focus {
    outline: none;
    border-bottom: 2px solid rgb(0, 174, 90);
}

.container-input label {
    padding: 10px;
    width: fit-content;
    transition: all 0.3s ease;
    font-weight: bold;
    color: rgb(7, 7, 7);
}

.container-button {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
}

.container-button button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to right, #dc3545, #e0666e);
    transition: all .3s ease;
    cursor: pointer;
}

.container-button button:hover {
    background-image: linear-gradient(to right, #d32838, #e0666e);
}